DVV_SERVERS_FILE="$HOME/.config/devv/servers.list"
DVV_AGE_KEY_FILE="$HOME/.config/devv/keys/age.key"
DVV_AGE_RECIPIENTS_FILE="$HOME/.config/devv/age-recipients.txt"
DVV_ENCRYPTED_SERVERS_FILE="$HOME/.config/devv/servers.list.age"
DVV_DB_HOST=""
DVV_DB_PORT="3306"
DVV_DB_USER="root"
DVV_DUMPS_DIR="$HOME/workspace/personal/devtools/dumps"
DVV_RCLONE_REMOTE="gdrive"
DVV_WORKSPACES_DIR="$HOME/workspace"
DVV_WORKSPACE_PROJECT_ROOTS="$HOME/workspace:$HOME/Development/projects:$HOME/Work/Development/dev:$HOME/Work/Development:$HOME/Development"
DVV_WORKSPACE_PROJECT_SEARCH_DEPTH="4"
DVV_WORKSPACE_OPENER=""
DVV_TMUX_SESSION_SEARCH_ROOTS="$HOME/workspace:$HOME/Development/projects:$HOME/Work/Development/dev:$HOME/Work/Development:$HOME/Development"
DVV_TMUX_SESSION_SEARCH_DEPTH="3"
DVV_TMUX_SESSION_NAME="space"
DVV_TMUX_SESSION_SHORTCUT="ctrl+f"
DVV_NO_LOADER="0"
