DVV_SERVERS_FILE="$HOME/.config/devv/servers.list"
DVV_AGE_KEY_FILE="$HOME/.config/devv/keys/age.key"
DVV_AGE_RECIPIENTS_FILE="$HOME/.config/devv/age-recipients.txt"
DVV_ENCRYPTED_SERVERS_FILE="$HOME/.config/devv/servers.list.age"
DVV_NO_LOADER="0"
