API_DIR="$HOME/workspace/development/api"
WEB_DIR="$HOME/workspace/development/web"
DEVT_RCLONE_REMOTE="gdrive"

TMUX_SESSION="eloverde"
TMUX_WIN="dev"
TMUX_DEFAULT_DIR="$HOME/workspace"

# Bitwarden secure note/item id that stores your AGE private key
DEVT_BW_AGE_KEY_ITEM=""

